$text_color: #ffffff;
$text_color_alt: #000000;
$background_primary: #1a202c;
$modal_background_primary: #2d3748;
$background_light: rgb(247, 248, 253);
$link_primary: #00a0dc;
$link_hover: #0184b4;
$link_light: #cfcfcf;
$applied: #00640a;

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.HomeNavBar {
  height: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .NavContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    .HomeNavButtons {
      display: flex;
      flex-direction: row;
      width: 10%;
      justify-content: space-around;
      .DropdownButton {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-left: 10rem;
        button {
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
      }
    }
  }
}

.DropdownDark {
  list-style: none;
  background-color: $modal_background_primary;
  margin-top: 1rem;
  li {
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .DropdownIcon {
      margin: 0 0.5rem 0 0.5rem;
    }
  }
  li:hover {
    cursor: pointer;
    background-color: $link_primary;
  }
}

.DropdownLight {
  list-style: none;
  background-color: $text_color;
  margin-top: 1rem;
  li:first-child {
    border-top: 1px solid $modal_background_primary;
  }
  li {
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid $modal_background_primary;
    .DropdownIcon {
      margin: 0 0.5rem 0 0.5rem;
    }
  }
  li:hover {
    cursor: pointer;
    background-color: $link_light;
  }
}

.Nav-UI-Dark {
  background-color: $modal_background_primary;
  color: $text_color;
  span {
    font-family: "Inter", sans-serif;
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
  }
  button {
    background: none;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #415069;
    color: $text_color;
  }
  button:hover {
    cursor: pointer;
    background-color: $background_primary;
  }
}

.Nav-UI-Light {
  background-color: $background_light;
  border-bottom: 1px solid #eeeeee;
  color: $text_color_alt;
  span {
    font-family: "Inter", sans-serif;
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
  }
  button {
    background: none;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #eeeeee;
    color: $text_color_alt;
  }
  button:hover {
    cursor: pointer;
    background-color: $link_light;
  }
}

// home main

.HomeMain {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: center;
  overflow-x: hidden;
  a {
    text-decoration: none;
    color: $link_primary;
  }

  a:hover {
    cursor: pointer;
  }
}

.Home-UI-Dark {
  background-color: $background_primary;
  color: $text_color;
}

.Home-UI-Light {
  background-color: $background_light;
  color: $text_color_alt;
}

// home content

.HomeContent {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 50%;
  align-items: center;
}

.SidebarFilters {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 30%;
  align-items: center;
}

.Filter {
  width: 85%;
  height: auto;
  padding: 2rem 0 2rem 0;
  margin-top: 2rem;
  background-color: $modal_background_primary;
  border-radius: 0.5rem;
}

.JobContainer {
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.JobControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 2rem 3rem 2rem 3rem;
  border: 1px solid pink;
  border-radius: 0.5rem;
  margin-top: 2rem;
  background-color: $modal_background_primary;
  .SortingOptions {
    width: 30%;
    padding: 0.5rem 0 0.5rem 0.25rem;
    border-radius: 0.5rem;
    background-color: $modal_background_primary;
    color: $text_color;
  }
  .AddJobButton {
    width: 25%;
    border: 0.5rem;
    padding: 0.5rem;
    color: $text_color;
    border-radius: 0.5rem;
    background-color: $link_primary;
  }
  .AddJobButton:hover {
    cursor: pointer;
    background-color: $link_hover;
  }
}

.JobList {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.JobList::-webkit-scrollbar {
  display: none;
}

// job card

.Job {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: $modal_background_primary;
  margin-bottom: 3rem;
  .JobInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    #date {
      font-size: 1.5rem;
      padding-bottom: 0.5rem;
    }
    #company {
      font-size: 1.25rem;
      padding-bottom: 0.5rem;
      font-weight: bold;
    }
    #title {
      font-size: 1rem;
      padding-bottom: 0.5rem;
      font-weight: bold;
    }
    #desc {
      color: $link_light;
      padding-bottom: 0.5rem;
    }
    #link {
      text-decoration: none;
      color: $text_color;
      font-weight: bold;
    }
  }
  .JobStatus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 50%;
    height: 100%;
    .StatusContainer {
      position: relative;
      .JobStatusDropdownButton {
        padding: 0.5rem 2rem 0.5rem 2rem;
        background-color: $applied;
        border-radius: 0.5rem;
        border: none;
        color: $text_color;
      }
      .JobStatusDropdownButton:hover {
        cursor: pointer;
      }
      .JobStatusDropdown {
        list-style: none;
        background-color: $modal_background_primary;
        border: 0.5px solid $background_primary;
        border-radius: 0.5rem;
        margin-top: 0.5rem;
        padding: 0rem 1rem 0rem 1rem;
        position: absolute;
        top: 2rem;
        right: 0.5rem;
        li:hover {
          cursor: pointer;
        }
      }
    }
  }
}

// add job

.AddJobSidebar {
  position: relative;
  right: 0;
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $modal_background_primary;
  -webkit-transform: translateX(75%);
  -webkit-transition: -webkit-transform ease-in-out 0.5s;
  -webkit-transform-origin: top;
  -webkit-transition-delay: 0.1s;
  .CloseButtonSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding-top: 1rem;
    padding-left: 1rem;
    #close-button:hover {
      cursor: pointer;
    }
  }
  .AddJobForm {
    padding-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .JobFormInput {
      width: 95%;
      height: auto;
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      label {
        font-size: 1rem;
      }
      textarea {
        min-width: 100%;
        max-width: 100%;
        margin-top: 0.35rem;
        border-radius: 0.5rem;
        background-color: $modal_background_primary;
        color: $text_color;
        padding: 0.75rem;
        border: 1px solid gray;
      }
      input {
        margin-top: 0.35rem;
        width: 100%;
        padding: 0.75rem;
        border-radius: 0.5rem;
        background-color: $modal_background_primary;
        color: $text_color;
        border: 1px solid gray;
      }
      select {
        margin-top: 0.35rem;
        width: 100%;
        padding: 0.75rem;
        border-radius: 0.5rem;
        background-color: $modal_background_primary;
        color: $text_color;
      }
      textarea:focus,
      input:focus,
      select:focus {
        outline: none;
      }
    }
    .JobFormSubmit {
      width: 95%;
      height: auto;
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      button {
        padding: 0.75rem 2.5rem 0.75rem 2.5rem;
        background-color: $link_primary;
        color: $text_color;
        border-radius: 0.5rem;
        border: none;
      }
      button:hover {
        cursor: pointer;
        background-color: $link_hover;
      }
    }
  }
}

.Closed {
  -webkit-transform: translateX(200%);
}
