$text_color: #ffffff;
$text_color_alt: #000000;
$background_primary: #1a202c;
$modal_background_primary: #2d3748;
$modal_background_light: rgb(247, 248, 253);
$link_primary: #00a0dc;

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.LoginPage {
  height: 100%;
  width: 100%;
  background-color: $background_primary;
  display: flex;
  flex-direction: column;
}

// login nav

.LoginNavBar {
  height: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .NavContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 80%;
    align-items: center;
    justify-content: space-between;
  }
}

.Nav-UI-Dark {
  background-color: $modal_background_primary;
  span {
    font-family: "Inter", sans-serif;
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
    color: $text_color;
  }
  button {
    background: none;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #415069;
  }
  button:hover {
    cursor: pointer;
    background-color: $background_primary;
  }
}

.Nav-UI-Light {
  background-color: $modal_background_light;
  border-bottom: 1px solid #eeeeee;
  span {
    font-family: "Inter", sans-serif;
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
    color: $text_color_alt;
  }
  button {
    background: none;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #eeeeee;
  }
  button:hover {
    cursor: pointer;
    background-color: #cfcfcf;
  }
}

// login main

.LoginMain {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  a {
    text-decoration: none;
    color: $link_primary;
  }

  a:hover {
    cursor: pointer;
  }
}

.Login-UI-Dark {
  background-color: $background_primary;
  color: $text_color;
  .LoginModal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    width: 90%;
    .LoginHeader {
      font-size: 2rem;
    }
    .LoginForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 60%;
      width: 30%;
      border-radius: 0.5rem;
      background-color: $modal_background_primary;
      .FormInput {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 90%;
        label {
          margin-bottom: 1rem;
        }

        input {
          width: 100%;
          padding: 1rem 0.5rem 1rem 0.5rem;
          background-color: inherit;
          border: 1px solid gray;
          margin-bottom: 1rem;
          border-radius: 0.35rem;
          color: $text_color;
        }
        input:focus {
          outline: none;
        }
      }
      .SubmitButton {
        width: 90%;
        padding: 1rem 0.5rem 1rem 0.5rem;
        background-color: $link_primary;
        border: 1px solid gray;
        margin-bottom: 1rem;
        border-radius: 0.35rem;
        color: $text_color;
      }

      .SubmitButton:hover {
        cursor: pointer;
      }
      #forgot-password {
        margin-top: 0.5rem;
      }
    }
  }
}

.Login-UI-Light {
  background-color: $modal_background_light;
  color: $text_color_alt;
  .LoginModal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    width: 90%;
    .LoginHeader {
      font-size: 2rem;
    }
    .LoginForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 60%;
      width: 30%;
      border-radius: 0.5rem;
      background-color: $modal_background_light;
      .FormInput {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 90%;

        label {
          margin-bottom: 1rem;
        }

        input {
          width: 100%;
          padding: 1rem 0.5rem 1rem 0.5rem;
          background-color: inherit;
          border: 1px solid gray;
          margin-bottom: 1rem;
          border-radius: 0.35rem;
          color: $text_color_alt;
        }
        input:focus {
          outline: none;
        }
      }
      .SubmitButton {
        width: 90%;
        padding: 1rem 0.5rem 1rem 0.5rem;
        background-color: $link_primary;
        border: 1px solid gray;
        margin-bottom: 1rem;
        border-radius: 0.35rem;
        color: $text_color;
      }

      .SubmitButton:hover {
        cursor: pointer;
      }
    }
  }
}
