$text_color: #ffffff;
$text_color_alt: #000000;
$background_primary: #1a202c;
$modal_background_primary: #2d3748;
$modal_border_light: #d4d4d4;
$background_light: rgb(247, 248, 253);
$link_primary: #00a0dc;
$link_hover: #0184b4;
$link_light: #cfcfcf;
$applied: #00640a;
$interview: #a206f6;
$assessment: #057cf3;
$offer: #001aff;
$rejected: #fa0000;
$search_button: #718096;
$delete_button: #c70000;
$delete_button_hover: #9e0202;

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// reset password main

.ResetPasswordMain {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ResetPassword-UI-Dark {
  background-color: $background_primary;
  color: $text_color;
  .ResetPasswordModal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    width: 90%;
    .ResetPasswordHeader {
      font-size: 2rem;
    }
    .ResetPasswordForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 60%;
      width: 30%;
      border-radius: 0.5rem;
      background-color: $modal_background_primary;
      .Inputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .FormInput {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          width: 90%;
          label {
            margin-bottom: 1rem;
          }

          input {
            width: 100%;
            padding: 1rem 0.5rem 1rem 0.5rem;
            background-color: inherit;
            border: 1px solid gray;
            margin-bottom: 1rem;
            border-radius: 0.35rem;
            color: $text_color;
          }
          input:focus {
            outline: none;
          }
        }
      }
      .SubmitButton {
        width: 90%;
        padding: 1rem 0.5rem 1rem 0.5rem;
        background-color: $link_primary;
        border: 1px solid gray;
        margin-bottom: 1rem;
        border-radius: 0.35rem;
        color: $text_color;
      }

      .SubmitButton:hover {
        cursor: pointer;
      }
    }
  }
}

.ResetPassword-UI-Light {
  background-color: $background_light;
  color: $text_color_alt;
  .ResetPasswordModal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    width: 90%;
    .ResetPasswordHeader {
      font-size: 2rem;
    }
    .ResetPasswordForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 60%;
      width: 30%;
      border-radius: 0.5rem;
      background-color: $background_light;
      .Inputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .FormInput {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          width: 90%;
          label {
            margin-bottom: 1rem;
          }

          input {
            width: 100%;
            padding: 1rem 0.5rem 1rem 0.5rem;
            background-color: inherit;
            border: 1px solid gray;
            margin-bottom: 1rem;
            border-radius: 0.35rem;
            color: $text_color;
          }
          input:focus {
            outline: none;
          }
        }
      }
      .SubmitButton {
        width: 90%;
        padding: 1rem 0.5rem 1rem 0.5rem;
        background-color: $link_primary;
        border: 1px solid gray;
        margin-bottom: 1rem;
        border-radius: 0.35rem;
        color: $text_color;
      }

      .SubmitButton:hover {
        cursor: pointer;
      }
    }
  }
}
